html {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    background: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.license-plate .cph-wrap {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    line-height: 55px;
    min-height: 55px;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
}
.license-plate .cph-wrap-shadow {
    box-shadow: 0 1px 8px rgba(92,169,214,.43);
    background: #f7f7f7;
    z-index: 0;
}

.license-plate .cph-wrap span {
    text-align: center;
    position: relative;
    width: 14.28571%;
}
.license-plate .cph-wrap-shadow span::before {
    content: '';
    display: block;
    height: 30px;
    width: 1px;
    background: #83d4ff;
    position: absolute;
    top: 0;
    margin-top: 13px;
    right: 0;
    box-shadow: 0 0 5px rgba(92,169,214,.43);
}
.license-plate .cph-wrap span:last-child::before {
    content: none;
}

.license-plate .cph-wrap .active {
    border-bottom: 3px solid #007AFF; 
    background: #fff;
    width: 14%;
}

.license-plate .keyboard-wrap {
    background: #CFD3DD;
    padding: 10px 2px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.license-plate .keyboard {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.license-plate .keyboard span {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px #666;
    width: calc(10% - 4px);
    text-align: center;
    height: 46px;
    line-height: 46px;
    margin: 0 2px 8px;
}

.license-plate .keyboard > div {
    display: flex;
}

.license-plate .keyboard .k-del {
    width: 72px;
}
.license-plate .keyboard .k-done {
    width: 72px;
    background: #007AFF;
    color: #fff;
}

.license-plate .slide-enter-active, .slide-leave-active {
    transition: all .3s;
    opacity: 1;
    transform: translateY(0);
}
.license-plate .slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(400px);
}